<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBCcvmRLu4Kesx8wXx6oF67oR9HgHCBmQ8</string>
	<key>GCM_SENDER_ID</key>
	<string>78454502785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>adem.bsrn.BitirmeProjesi</string>
	<key>PROJECT_ID</key>
	<string>bitirmeprojesifirebase-da3be</string>
	<key>STORAGE_BUCKET</key>
	<string>bitirmeprojesifirebase-da3be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78454502785:ios:4674a51980a010e439a480</string>
</dict>
</plist>